#main-header {
	background: #48e;
	height: 70px;
    width: 100vw;
    position: fixed;
    display: flex;
	justify-content: space-between; /*separar elementos y que esten es esquinas opuestas*/
}
/*
#main-header-u{
	width: 40px;
	height: 40px;
	padding-right: 20px;
	padding-top: 10px;
	position: relative;
	cursor: pointer;
}
*/
body{
    margin: 0;
    background-color: #cdd0da;
    font-family: sans-serif;
    color: black;
}

.Notitl{
    font-size: 18px;
    line-height: 0;
    margin: o;
}

.Noti1{
    font-size: 14px;
    margin: o;
}

.boxeo{
    height: 80px;
    width: 200px;
    position: fixed;
    right: 0;
    top: 300px;
    background-color: #0cc0df;
    opacity: 0.8;
}

.Nuestra_Firma{
    color: #000000;
    text-align: justify;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin: 250px 27%;
    font-size: x-large;
    line-height: 2;
/*    animation-name: slidein;
    animation-duration: 10s;*/
}
/*
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }*/

img{
    width: 100vw;
}

.Logo1{
    text-align: center;
}

.LOGO{
    width: 500px;
    height: auto;
}

nav{
    background-color: #48e;
}

.nav__list{
    margin: 0;
    text-align: center;
}

.nav__item{
    display: inline-block;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #48e;
}

.nav__link:hover{
    background-color: #59e;
}

.link--button{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 6px 18px;
    color: #48e;
    border-radius: 3px;
    margin-left: 70px;
}

.link--button:hover{
    background: transparent;
    color: #fff;
}

.pie-pagina{
    display: block;
    width: 100%;
    background-color: #000000;
	height: auto;
    color: #fff;
}

.pie-pagina .grupo-1{
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:300px;
    padding: 20px;
}

.pie-pagina .grupo-1 .box h2{
    margin-bottom: 5px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .red-social img{
	width: 45px;
	height: 45px;
}

.pie-pagina .grupo-1 .red-social img:hover{
    cursor: pointer;
}